@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LEE's Online Shop</h1>
    <p class="lead">All images including community are retrieved from Google Cloud Storage. </p>
    <p class="lead">Dummy Menu Download is linked to Google Cloud Storage.</p>
    <p class="lead">Log in does not implement Encryption.</p>
    <p class="lead">Check out does not include actual payment.</p>
</div>